.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 40px;
    font-size: 50px;
}

.head{
   font-size: 40px;
}
input{
    font-size: 30px;
    margin: 20px;
    height: 40px;
    text-align: center;
}
button{
    font-size: 30px;
    background-color: hsl(202, 100%, 50%);
    color: white;
    border: 0.5px solid black;
    border-radius: 10px;
    height: 45px;
    padding-left: 10px;
}
button:hover{
    background-color: hsl(202, 100%, 40%);
    cursor: pointer;
}
#diceresult , #diceimage{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
    font-size: 40px;
}
#diceimage img{
    font-size: 100px;
    margin-left: 30px;
}